.bottomer {
    padding-bottom: 40px;
}

#chall1 {
    display: none;
}

#chall2 {
    display: none;
}

#ex2 {
    display: none;
}

#ex-invoke {
    display: none;
}

#complete {
    display: none;
}